/* Receteo */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    scroll-behavior: smooth;
    }

/* Tipografia pagina */    
body {
    font-family: 'Cabin', sans-serif;
}

.navbar{ 
    height:50px; 
    width:100%;
}

/* Media Query -NavBar 1*/
@media (max-width:768px) {
    .navbar-brand {
        width: 30px;
    }
}



/* Media Query -NavBar 2*/
@media (min-width:769px) {
    .navbar-brand {
        width: 30px;
    }
}


.fixed{
    position:fixed top; 
    top: 0px;
    z-index: 1;
}

/* carrusel*/   
.carousel-inner {
    position: fixed top;
}