/* Receteo */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    scroll-behavior: smooth;
    }

/* Tipografia pagina */    
body {
    font-family: 'Cabin', sans-serif;
}

.navbar{ 
    height:50px; 
    width:100%;
}

.fixed{
    position:fixed top; 
    top: 0px;
    z-index: 1;
}